.bg-blue{
    background-color: #2e3192;
}
.blue{
    color:#2e3192;
}
.light-blue{
    color: rgb(89, 197, 233);
}
.btn-primary{
    background-color:  rgb(89, 197, 233);
}
.btn-primary:hover{
    background-color: #2e3192;
}
.list li{
    padding:4px;
}